<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

  <title>Training And Placement - {% block title %} {% endblock title %}</title>
</head>

<body>
  <header class="p-3 bg-dark text-white">
    <div class="container-fluid">
      <div class="
            d-flex
            flex-wrap
            align-items-center
            justify-content-center justify-content-lg-start
          ">
        <a href="" class="
              d-flex
              align-items-center
              mb-2 mb-lg-0
              text-white text-decoration-none
            ">
          Training And Placement
        </a>

        <ul class="
              nav
              col-12 col-lg-auto
              me-lg-auto
              mb-2
              justify-content-center
              mb-md-0
              mx-5
            ">
          <li>
            <a href="/index" class="nav-link px-2 text-secondary">Home</a>
          </li>
          
        </ul>

        <div class="text-end">
          <a href="/loginn" class="btn btn-warning" role="button">Login</a>
        </div>
      </div>
    </div>
  </header>

  {% block body %}

  {% endblock body %}

  <div class="container">
    <footer class="my-2">
      <p class="text-center text-muted">
        © 2021 Traning And Placement, Designed by XYZ
      </p>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>

</html>