{% extends 'base.html' %}

{% block title %}Company Login{% endblock title %}

{% block body %}

{% if messages %}

{% for message in messages %}

<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 py-3" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

{% endif %}

<div class="container my-5">
      <main class="form-signin">
        <form action="/compindex" method="POST">
        {% csrf_token %}
          <h1 class="h3 mb-3 fw-normal">Company Login</h1>

          <div class="form-floating my-1">
            <input
              type="text"
              class="form-control"
              id="companyid"
              name="companyid"
              placeholder="username"
            />
            <label for="companyid">Company id</label>
          </div>
          <div class="form-floating my-1">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="password"
              name="password"
            />
            <label for="password">Password</label>
          </div>
          <button class="btn btn-dark" type="submit">Login</button>
          <a href="/companyreg" role="button" class="btn btn-dark"
            >New User</a
          >
        </form>
      </main>
    </div>
{% endblock body %}